.wrapper {
	@include flexbox(space-between, center, 20px, column);
	box-sizing: border-box;
	height: 95vh;
	padding: 46px 16px;
	background: $background-color;
	.avatarWrapper {
		@include flexbox(center, center, 32px);

		width: 100%;
		.avatar {
			@include flexbox(center, center);
			@include text-styles(20px, 80%, $text-color, $font-weight: 500);
			border-radius: 80px;
			background: $white;
			box-shadow: 0 4px 29px 5px rgba(200, 185, 230, 0.15);
			padding: 30px;
			z-index: 10;
		}

		.avatarBg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
		.avatarReady {
			position: relative;
			@include flexbox(center, center, 69px, row);
			width: 100%;
			padding: 0 10px;

			.avatar {
				padding: 10px;
				width: 116px;
				border-radius: 40px;
			}
		}
	}

	.textWrapper {
		@include flexbox(center, center, 12px);
	}

	.btn {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
	}
}
