.wrapper {
	@include flexbox(center, center, 12px, row);
	flex-wrap: wrap;

	.input {
		@include text-styles(16px, 20px, $text-main, $font-weight: 400);
		@include box(34px, 44px);
		@include rounded-border(4px, 1px, solid, $main-colour-tint);

		&:focus,
		&:hover {
			outline: 0;
			box-shadow: 0px 0px 5px $main-colour-tint;
			border: 1px solid $main-colour-tint;
		}
	}
}
