.wrapper {
	@include flexbox(center, center, 12px, row);
	flex-wrap: wrap;


	.input {
		@include text-styles(16px, 20px,  $text-color, $font-weight: 400);
		border-radius: 4px;
		border: 1px solid $border-checkbox-color;
		width: 34px;
		height: 44px;
	}
}
