.wrapper {
	@include flexbox(center, center, 12px, row);
	flex-wrap: wrap;

	.input {
		@include text-styles(16px, 20px, $text-color, $font-weight: 400);
		border-radius: 4px;
		border: 1px solid $border-checkbox-color;
		width: 34px;
		height: 44px;

		&:focus, &:hover {
			outline: 0;
			box-shadow: 0px 0px 5px $border-checkbox-color; /*here change the color*/
			border: 1px solid $border-checkbox-color; /*here change the color*/
		}
	}
}
