.button {
	@include text-styles(20px, 28px, $white, $font-weight: 400);
	border-radius: 20px;
	border: none;
	letter-spacing: 0.2px;
	padding: 12px 36px;
	width: 100%;

	&:hover {
		background: $button-hover-color;
	}

	&:focus {
		background-color: $clicked-color;
	}
}
.active {
	background: $active-color;
}

.disabled {
	background: $active-color;
	opacity: 0.4;
}

.clicked {
	background-color: $clicked-color;
}
