.Htag {
	@include text-styles(96px, 125%, $text-main, 400);
	margin: 0;
	padding: 0;
	white-space: nowrap;
	z-index: 100;

	.textContainer {
		position: relative;
	}

	.link {
		color: $main-colour-elements;
	}
}
