.Htag {
	@include text-styles(96px, 125%, $text-main, 400, left);
	margin: 0;
	padding: 0;
	white-space: nowrap;
	z-index: 100;
	cursor: default;

	.textContainer {
		position: relative;
	}

	.link {
		color: $main-colour-elements;
		@include descktop1200 {
			display: block;
		}
	}

	@include descktop1440 {
		@include text-styles(84px, 114%, $text-main, 400, left);
	}
}
