.Htag {
	font-weight: 400;
	font-size: 96px;
	line-height: 125%;
	color: $text-color;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	z-index: 100;

	.textContainer {
		position: relative;
	}

	.link {
		color: $active-color;
	}
}
