.wrapper {
	@include flexbox(center, center, 4px, row);
	@include text-styles(28px, 32px, $text-color, $font-weight: 500);

	.btn {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		cursor: pointer;

		img {
			@include box(16px, 16px);
		}
	}
}
