.wrapper {
	@include flexbox(center, center, 4px, row);
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	color: $text-color;

	.btn {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		cursor: pointer;

		img {
			width: 16px;
			height: 16px;
		}
	}
}
