.h1 {
	@include text-styles(
		34px,
		80%,
		$text-color,
		$font-family: 'eurofurence',
		$font-weight: 400
	);
	margin: 0;
	margin-top: 81px;
	@include desktop {
		@include text-styles(
			48px,
			80%,
			$text-color,
			$font-family: 'eurofurence',
			$font-weight: 500
		);
	}
}

.h2 {
	@include text-styles(20px, 32px, $text-color, $font-weight: 500);
	margin: 0;
	margin-top: 20px;
}

.h3 {
}

.text {
	color: $text-color;
}

.primary {
	color: $white;
}
