.form {
	@include flexbox(flex-start, center, 20px);
	width: 100%;

	.wrapperRemember {
		@include flexbox(space-between, center, 20px, row);
		width: 100%;

		.remember {
			@include flexbox(flex-start, center, 8px, row);
			@include text-styles(14px, normal, $text-secondary, $font-weight: 400);

			input[type='checkbox'] {
				@include box(20px, 20px);
				@include rounded-border(4px, 2px, solid, $main-colour-tint);
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				outline: none;
			}

			input[type='checkbox']:checked {
				background-color: $main-colour-tint;
				border-color: $main-colour-elements;
			}
		}
		.link {
			@include text-styles(
				14px,
				normal,
				$main-colour-elements,
				$font-weight: 400
			);
			text-decoration: none;
		}
	}
}
