.title {
	
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	column-gap: 20px;
	align-items: center;
	width: 100%;

	.back {
		border-radius: 40px;
		display: inline-flex;
		height: 37.895px;
		padding: 7px 12px 6.895px 10px;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}
}
