@import './mixins';

$violet: rgba(191, 158, 255, 0.5);
$main-colour-elements: #a87bff;
$main-colour-tint: #dfceff;
$stroke-colour: #eee3ff;
$text-main: #262932;
$background-color: #fcfcfc;
$text-secondary: #979ca0;
$button-click: #8b4fff;
$hover: #7e5cbf;
$card-backround: #f1f1f1;
$difficulty-tint-green: #c9e4de;
$difficulty-tint-orange: #f2c9ac;
$difficulty-tint-yellow: #faedcb;
$difficulty-tint-violet: #dbcdf0;
$icons-radio-checkbox: #dcc5ff;
$background: #f2ebff;
$green: #34c759;
$red: #ff453a;
$grey: #a09e9e;
$white: #ffffff;
$primary-color: rgba(223, 206, 255, 0.2);
$black: #000;
