$white: #ffffff;
$primary-color: rgba(223, 206, 255, 0.2);
$hover-color: rgba(191, 158, 255, 0.5);
$clicked-color: #8b4fff;
$active-color: #a87bff;
$reject-color: #ff453a;
$resolve-color: #34c759;
$primary-text-color: #000;
$text-color: #262932;
$secondary-text: #979ca0;
$border-checkbox-color: #dfceff;
$button-hover-color: #7e5cbf;
$gender-border-color: #eee3ff;
$background-color: #fcfcfc;
