.form {
	@include flexbox(flex-start, center, 20px);
	width: 100%;

	.wrapperRemember {
		@include flexbox(space-between, center, 20px, row);
		width: 100%;

		.remember {
			@include flexbox(flex-start, center, 8px, row);
			font-size: 14px;

			input[type='checkbox'] {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				width: 20px;
				height: 20px;
				border-radius: 4px;
				outline: none;
				border: 2px solid $border-checkbox-color;
			}

			input[type='checkbox']:checked {
				background-color: $border-checkbox-color;
				border-color: $active-color;
			}
		}
		.link {
			text-decoration: none;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: capitalize;
			color: $active-color;
		}
	}
}
