.form {
	@include flexbox(flex-start, center, 20px);
	width: 100%;

	.wrapperRemember {
		@include flexbox(space-between, center, 20px, row);
		width: 100%;

		.remember {
			@include flexbox(flex-start, center, 8px, row);
			@include text-styles(14px, normal,  $secondary-text, $font-weight: 400);

			input[type='checkbox'] {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				width: 20px;
				height: 20px;
				border-radius: 4px;
				outline: none;
				border: 2px solid $border-checkbox-color;
			}

			input[type='checkbox']:checked {
				background-color: $border-checkbox-color;
				border-color: $active-color;
			}
		}
		.link {
			@include text-styles(14px, normal,  $active-color, $font-weight: 400);
			text-decoration: none;
		}
	}
}
