.form {
	@include flexbox(flex-start, center, 20px);
	width: 100%;

	.wrapperRemember {
		@include flexbox(space-between, center, 20px, row);
		width: 100%;

		.remember {
			@include flexbox(flex-start, center, 8px, row);
			@include text-styles(14px, normal, $secondary-text, $font-weight: 400);

			input[type='checkbox'] {
				@include box(20px, 20px);
				@include rounded-border(4px, 2px, solid, $border-checkbox-color);
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				outline: none;
			}

			input[type='checkbox']:checked {
				background-color: $border-checkbox-color;
				border-color: $active-color;
			}
		}
		.link {
			@include text-styles(14px, normal, $active-color, $font-weight: 400);
			text-decoration: none;
		}
	}
}
