.main {
	//	padding: 55px 60px;
	@include flexbox(center, center, 0, column);
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	overflow-y: scroll;
	min-height: 400px;

	.wrapper {
		@include flexbox(center, center, 0, column);
		padding: 55px 60px;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1920px;
		width: 100%;

		@include descktop1440 {
			padding: 55px 50px;
		}
	}
	.wrapperBottom {
		padding: 55px 110px;
		@include flexbox(center, center, 0, column);
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1920px;
		width: 100%;

		@include descktop1440 {
			padding: 55px 50px;
		}
	}

	.hditWrapper {
		position: relative;
		background-color: #9251ff;
		background-image: url('/landing/backgroundHowDoesItWork.svg');
		background-repeat: no-repeat;
		background-position: top left 100%;
		width: 100%;
		max-width: 1920px;
		margin-bottom: 195px;

		//max-width: 100% !important;

		.bg {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
			max-width: 100%;
			height: auto;
		}
	}
}

.progressBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: $main-colour-elements;
	transform-origin: 0%;
	z-index: 10000;
}
