.form {
	@include flexbox(flex-start, center, 20px);
	width: 100%;

	.wrapperRemember {
		@include flexbox(space-between, center, row);

		.link {
			text-decoration: none;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: capitalize;
			color: $active-color;
		}
	}
}
