.wrapper {
	background-color: $background-color;
	@include flexbox(center, center, 40px);
	padding: 46px 20px;

	.form {
		@include flexbox(center, center, 40px);
		width: 100%;

		.gender {
			@include text-styles(16px, 20px, $text-color, $font-weight: 700, $text-align: left);
			font-feature-settings: 'clig' off, 'liga' off;
			letter-spacing: 0.2px;
		}

		.genderWrapper {
			@include flexbox($gap: 12px);
			width: 100%;

			.maleAndFemale {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 20px;
			}

			.textDecoration {
				@include text-styles(
					12px,
					16px,
					$secondary-text,
					$font-weight: 500,
					$text-align: left
				);
				font-feature-settings: 'case' on;
			}
		}
	}

	.nextBtn {
		margin-top: 40px;
	}
}
