.wrapper {
	background-color: $background-color;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	justify-content: center;
	padding: 46px 20px;

	.form {
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 100%;
		justify-content: center;

		.gender {
			color: $text-color;
			font-feature-settings: 'clig' off, 'liga' off;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px; /* 125% */
			letter-spacing: 0.2px;
		}

		.genderWrapper {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.maleAndFemale {
				display: flex;
				flex-direction: row;
				gap: 20px;
			}

			.textDecoration {
				color: $secondary-text;

				font-feature-settings: 'case' on;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 16px;
			}
		}
	}
}
