.form {
	@include flexbox(flex-start, center, 20px);
	width: 100%;

	.wrapperRemember {
		@include flexbox(space-between, center, row);

		.link {
			@include text-styles(
				14px,
				normal,
				$main-colour-elements,
				$font-weight: 400
			);
			text-decoration: none;
		}
	}
}
