.button[type='radio'] {
	display: none;
}

.button[type='radio'] + .gender {
	@include flexbox(center, center, 8px);
//	width: 100%;
	border: 1px solid $gender-border-color;
	color: $secondary-text;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 125% */
	letter-spacing: 0.2px;
	padding: 18px;
	border-radius: 20px;
	&:checked,
	&:hover {
		border-color: $border-checkbox-color;
	}
}
