.slide {
	height: 52px;
	width: 100%;
	border-radius: 6rem;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: $hover-color;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	will-change: transform;

	.toggle {
		height: 52px;
		position: absolute;
		left: 0;
		background: #000000;
		border-radius: 20px;
		cursor: pointer;
		font-size: 16px;
		line-height: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;

		div {
			align-self: center;
		}
		span {
			position: absolute;
			padding: 16px;
			right: 0;
			display: block;
		}

		&:hover {
			height: 62px;
		}
	}

	&:hover {
		height: 62px;
	}
}
