.wrapperMain {
	.leftImg {
		display: none;
	}

	@include desktop {
		display: grid;
		grid-template-columns: auto 1fr 1fr;

		.leftImg {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}
