.wrapperContact {
	@include flexbox(center, center, 64px);
	.wrapper {
		@include flexbox(center, center, 64px);
		padding: 64px 100px;
		box-shadow: 0 20px 100px 0 rgba(117, 117, 117, 0.2);
		border-radius: 40px;

		.avatar {
			border-radius: 60px;
			box-shadow: 0 4px 40px 0 rgba(117, 117, 117, 0.15);
			padding: 7px 11px;
		}

		.infoWrapper {
			@include flexbox(center, center, 32px);

			.title {
				font-weight: 300;
				font-size: 36px;
				line-height: 122%;
				margin: 0;
				padding: 0;
				color: $black;
			}

			.email {
				font-weight: 500;
				font-size: 24px;
				text-decoration: underline;
				text-decoration-skip-ink: none;
				color: #909295;
			}
		}
		.links {
			@include flexbox(center, center, 64px, row);
		}
		.socialWrapper {
			@include flexbox(center, center, 64px, row);
		}
	}
}
