.button {
	@include text-styles(28px, 129%, $white, $font-weight: 400);
	border-radius: 60px;
	border: none;
	letter-spacing: 0.2px;
	padding: 8px 24px;
	background: $active-color;
	text-decoration: none;
	white-space: nowrap;
	transition: all 0.4s ease;
	&:hover {
		background: $button-hover-color;
	}

	&:focus {
		background-color: $clicked-color;
	}
}

.social {
	@include flexbox(center, center, row);
	box-shadow: 0 4px 40px 0 rgba(117, 117, 117, 0.15);
	//padding: 15px;

	width: 94px;
	height: 94px;
	background: $white;
	border-radius: 100px;
	border: none;
	transition: all 0.4s ease;

	&:hover {
		background: $gender-border-color;
	}
}

.design {
	box-shadow: 0 4px 40px 0 rgba(117, 117, 117, 0.2);
	background: $white;
	font-weight: 300;
	font-size: 24px;
	line-height: 183%;
	color: $black;
	border-radius: 40px;
	padding: 12px 32px;
	&:hover {
		background: $gender-border-color;
	}
	&:focus {
		background-color: $active-color;
	}
}
