.slip {
	font-weight: 400;
	font-size: 36px;
	line-height: 133%;
	color: $black;
	border-radius: 40px;
	padding: 48px 56px;
	box-shadow: 0 20px 100px 0 rgba(117, 117, 117, 0.2);
	max-width: 400px;
	white-space: nowrap;
}
