.wrapper {
	@include flexbox(space-between, center, 39px);
	box-sizing: border-box;
	padding: 46px 16px;
	.progress {
		@include flexbox(center, center, 8px, row);
	}
	.text {
		@include flexbox(center, center, 12px);
	}
	.formWrapper {
		width: 100%;
	}
	.form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 20px;
		width: 100%;

		.item {
			&:nth-child(6) {
				grid-column: 1 / -1;
			}
			&:nth-child(5) {
				grid-column: 1 / -1;
			}
		}
	}
	.linkWrapper {
		@include flexbox(center, center, 12px);
		width: 100%;
	}
	
}
