.wrapper {
	box-sizing: border-box;
	@include flexbox(center, center, 12px);
	padding: 38px 20px;
	width: 100%;

	.code {
		@include flexbox(flex-start, center, 12px);
		color: $text-color;
		text-align: center;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	.description {
		width: 100%;
		color: $text-color;
	}

	.btnWrapper {
		@include flexbox(flex-start, center, 16px);
		width: 100%;
	}

	.nextBtn {
		width: 100%;
		opacity: 0.4;
		background: #a87bff;
		pointer-events: none;
		cursor: default;
	}

	.enabled {
		background: #a87bff;
		opacity: 1;
		pointer-events: all;
		cursor: pointer;
	}
	.link {
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		text-decoration: none;
		color: $secondary-text;
	}
}
