.button {
	border-radius: 20px;
	border: none;
	color: $white;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.2px;
	padding: 12px 36px;

	&:hover {
		background: $button-hover-color;
	}

	&:focus {
		background-color: $clicked-color;
	}
}
.active {
	background: $active-color;
}

.disabled {
	background: $active-color;
	opacity: 0.4;
}

.clicked {
	background-color: $clicked-color;
}
