// @import '../../styles/mixins';
// @import '../../styles/variables';
.button {
	@include text-styles(20px, 28px, $white, $font-weight: 400);
	border-radius: 20px;
	border: none;
	letter-spacing: 0.2px;
	padding: 12px 36px;
	width: 100%;
	cursor: pointer;

	&:hover {
		background: $hover;
	}

	&:focus {
		background-color: $button-click;
	}
}
.active {
	background: $main-colour-elements;
}

.disabled {
	background: $main-colour-elements;
	opacity: 0.4;
}

.clicked {
	background-color: $button-click;
}
