.welcomeScreen {
	@include flexbox(center, center, 20px);
	width: 100%;
	padding: 0 20px;

	.description {
		align-self: center;
	}
	.slider {
		@include flexbox(center, center, 5px, row);
		margin-bottom: 30px;
	}
}
