.wrapper {
	.input {
		border-radius: 20px;
		border: 2px solid $primary-color;
		background: #fff;
		padding: 20px;
		color: $primary-text-color;
		font-size: 22px;
		font-weight: 500;
		line-height: 22px;

		&:hover {
			border: 2px solid $hover-color;
		}
		&:focus {
			outline: none;
			border: 2px solid $active-color;
		}
	}

	.error {
		border: 2px solid $reject-color;
	}
}
