.wrapper {
	@include flexbox(flex-start, flex-start, 12px);
	width: 100%;

	.label {
		@include text-styles(16px, 20px, $text-color, $font-weight: 700);
		letter-spacing: 0.2px;
		font-feature-settings: 'clig' off, 'liga' off;
	}
	.input {
		@include text-styles(
			22px,
			22px,
			$primary-text-color,
			$font-weight: 500,
			$text-align: left
		);
		@include rounded-border(20px, 2px, solid, $primary-color);
		width: 100%;
		background: #fff;
		padding: 20px;

		&:hover {
			@include rounded-border(20px, 2px, solid, $hover-color);
		}
		&:focus {
			outline: none;
			@include rounded-border(20px, 2px, solid, $active-color);
		}
	}

	.error {
		@include rounded-border(20px, 2px, solid, $reject-color);
	}

	@include desktop {
		.label {
			@include text-styles(22px, 22px, $secondary-text, $font-weight: 400);
		}
	}
}
