.wrapper {
	@include flexbox(flex-start, flex-start, 12px);
	width: 100%;

	.label {
		@include text-styles(16px, 20px, $text-color, $font-weight: 700);
		letter-spacing: 0.2px;
		font-feature-settings: 'clig' off, 'liga' off;
	}
	.input {
		@include text-styles(
			22px,
			22px,
			$primary-text-color,
			$font-weight: 500,
			$text-align: left
		);
		width: 100%;
		border-radius: 20px;
		border: 2px solid $primary-color;
		background: #fff;
		padding: 20px;

		&:hover {
			border: 2px solid $hover-color;
		}
		&:focus {
			outline: none;
			border: 2px solid $active-color;
		}
	}

	.error {
		border: 2px solid $reject-color;
	}

	@media (min-width: 900px) {
		.label {
			@include text-styles(22px, 22px, $secondary-text, $font-weight: 400);
		}
	}
}
