.swiperCaret {
	// max-width: 24px !important;
	// width: 24px !important;
	background: $active-color !important;
}

.overlayWripper {
	border-radius: 20px !important;
	min-width: 40px !important;
	background: $active-color !important;
	//	padding: 11px !important;
	font-weight: 500 !important;
	font-size: 20px !important;
	line-height: 140% !important;
	letter-spacing: 0.01em !important;
	color: #fff !important;
}

.swiper {
	border-radius: 20px !important;
	border: none !important;
	background-color: $border-checkbox-color !important;
	height: 52px !important;
	padding: 0 !important;
}

.img {
	margin-right: 7px;
}
